<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>StepLine</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/themify-icons.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/nouislider.min.css">
	<link rel="stylesheet" href="css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/main.css">
	<style>
		/* Desktop layout */
		@media (max-width: 767px) {
    .features-area {
        display: none;
    }
}

/* Trending Products Section */
.trending-product-area {
  padding: 60px 0;
  background: #f9f9ff;
}

.trending-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin: 10px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.trending-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.product-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.product-badge .badge {
  font-size: 12px;
  padding: 5px 10px;
  margin-left: 5px;
}

.trending-card .product-img {
  display: block;
  text-align: center;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.trending-card .product-img img {
  max-height: 180px;
  width: auto;
  transition: all 0.3s;
}

.trending-card:hover .product-img img {
  transform: scale(1.05);
}

.trending-card .desc {
  padding: 0 5px;
}

.trending-card .title h6 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #222;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trending-card .price h6 {
  font-size: 18px;
  font-weight: 700;
  color: #ff3368;
  display: inline-block;
  margin-right: 10px;
}

.trending-card .price .l-through {
  font-size: 14px;
  text-decoration: line-through;
  color: #999;
}

.prd-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.prd-bottom .social-info {
  display: flex;
  align-items: center;
  color: #777;
  font-size: 14px;
  transition: all 0.3s;
}

.prd-bottom .social-info:hover {
  color: #ff3368;
}

.prd-bottom .social-info .hover-text {
  margin-left: 5px;
  display: none;
}

.prd-bottom .social-info:hover .hover-text {
  display: inline;
}

/* Owl Carousel Customization */
.trending-slider .owl-stage {
  padding: 20px 0;
}

.trending-slider .owl-nav {
  position: absolute;
  top: -80px;
  right: 0;
}

.trending-slider .owl-nav button {
  width: 40px;
  height: 40px;
  background: #fff !important;
  border: 1px solid #eee !important;
  border-radius: 50% !important;
  margin-left: 10px;
  transition: all 0.3s;
}

.trending-slider .owl-nav button:hover {
  background: #ff3368 !important;
  color: #fff !important;
}

.trending-slider .owl-nav button span {
  font-size: 24px;
  line-height: 38px;
}

.trending-slider .owl-dots {
  text-align: center;
  margin-top: 20px;
}

.trending-slider .owl-dots button.owl-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ddd !important;
  margin: 0 5px;
}

.trending-slider .owl-dots button.owl-dot.active {
  background: #ff3368 !important;
}

		</style>

</head>

<body>

    <%- include('../../views/partials/user/header') %>

	

	<!-- start banner Area -->      
	<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
						<!-- single-slide -->
						<div class="row single-slide align-items-center d-flex">
							<div class="col-lg-5 col-md-6">
								<div class="banner-content">
									<h1>Nike New <br>Collection!</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">Add to Bag</span>
										
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="img/banner/banner-img.png" alt="">
								</div>
							</div>
						</div>
						<!-- single-slide -->
						<div class="row single-slide">
							<div class="col-lg-5">
								<div class="banner-content">
									<h1>Nike New <br>Collection!</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">Add to Bag</span>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="img/banner/banner-img.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon1.png" alt="">
						</div>
						<h6>Free Delivery</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon2.png" alt="">
						</div>
						<h6>Return Policy</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon3.png" alt="">
						</div>
						<h6>24/7 Support</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon4.png" alt="">
						</div>
						<h6>Secure Payment</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end features Area -->

	<!-- Start Trending Products Area -->
<section class="trending-product-area section_gap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="section-title">
		
          <h1>Trending Now</h1>
          <p>Discover our most popular products this season</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <% if (trendingProducts && trendingProducts.length > 0) { %>
          <div class="trending-slider owl-carousel">
            <% for (let i = 0; i < trendingProducts.length; i++) { %>
              <div class="item">
                <div class="trending-card">
                  <div class="product-badge">
                    <% if (trendingProducts[i].regularPrice > trendingProducts[i].salePrice) { %>
                      <span class="badge badge-danger">Sale</span>
                    <% } %>
                    <span class="badge badge-success">Trending</span>
                  </div>
                  <a href="/productDetails?id=<%= trendingProducts[i]._id %>" class="product-img">
                    <img class="img-fluid" src="<%= trendingProducts[i].productImage[0] %>" alt="<%= trendingProducts[i].productName %>">
                  </a>
                  <div class="desc">
                    <a href="/productDetails?id=<%= trendingProducts[i]._id %>" class="title">
                      <h6><%= trendingProducts[i].productName %></h6>
                    </a>
                    <div class="price">
                      <h6>₹<%= trendingProducts[i].salePrice %></h6>
                      <% if (trendingProducts[i].regularPrice > trendingProducts[i].salePrice) { %>
                        <h6 class="l-through">₹<%= trendingProducts[i].regularPrice %></h6>
                      <% } %>
                    </div>
                    <div class="prd-bottom">
                      <a href="#" onclick="addToWishlist('<%= trendingProducts[i]._id %>')" class="social-info">
                        <span class="lnr lnr-heart"></span>
                        <p class="hover-text">Wishlist</p>
                      </a>
                      <a href="/productDetails?id=<%= trendingProducts[i]._id %>" class="social-info">
                        <span class="lnr lnr-eye"></span>
                        <p class="hover-text">View Details</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
        <% } else { %>
          <p class="text-center w-100">No trending products found</p>
        <% } %>
      </div>
    </div>
  </div>
</section>
<!-- End Trending Products Area -->



	



				
					

								
									

	
							
				

	<!-- Start brand Area -->
	<section class="brand-area section_gap">
		<div class="container">
			<div class="row">
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/1.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/2.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/3.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/4.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/5.png" alt="">
				</a>
			</div>
		</div>
	</section>
	<!-- End brand Area -->

	

	<%- include('../../views/partials/user/footer') %>


	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/nouislider.min.js"></script>
	<script src="js/countdown.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/main.js"></script>
</body>
<script>
	// Initialize Trending Products Slider
$(document).ready(function() {
  $('.trending-slider').owlCarousel({
    loop: true,
    margin: 20,
    nav: true,
    dots: true,
    autoplay: true,
    autoplayTimeout: 3000,
    autoplayHoverPause: true,
    responsive: {
      0: {
        items: 1
      },
      576: {
        items: 2
      },
      768: {
        items: 3
      },
      992: {
        items: 4
      }
    }
  });
});
</script>

</html>